In [2]:
import pandas as pds

In [21]:
class DataHandler:

    def __init__(self):
        self.df_listings_final = None
        self.df_price_availability = None
        self.df_merge = None

    def get_data(self):
        self.df_listings_final = pds.read_csv("Data/listings_final.csv", sep=";", index_col=0)
        self.df_price_availability = pds.read_csv("Data/price_availability.csv", sep=";")

    def group_data(self):
        # merge 
        self.df_merge = pds.merge(self.df_listings_final, self.df_price_availability.groupby('listing_id')['local_price'].mean('local_price'), how='inner',                                on='listing_id')

    def get_process_data(self):
        self.get_data()
        self.group_data()

In [22]:
d = DataHandler()

In [23]:
d.get_process_data()

In [25]:
d.df_merge.head()

,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor,local_price
0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00,45.948454
1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69,44.473684
2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00,49.000000
3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48,165.000000
4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90,69.774436